.retro{
    text-shadow: 0 2px 0 #FFF, 0 3px 0 var(--orange),0 4px 0 var(--orange),0 5px 0 var(--orange),0 6px 0 var(--orange);
    font-family: Candal;
    color: #FFF;
    font-size: 28px;
    text-transform: uppercase;
    background-color: var(--blue);
    padding: 0px 10px 6px 10px;
    border-radius: 6px;
}
.retro:hover, .retro:focus, .retor:focus-visible{
    color: #FFF !important;
}
.our-social .btn{
    border-color: var(--blue) !important;
}

@media all and (min-width:320px) and (max-width:576px){
    .retro{
        font-size: 22px;
        margin: auto;
    }
    .our-social{
        width: 100%;
    }
    .our-social .btn svg{
        height: 19px;
        width: 19px;
    }
}