/* Base CSS */
*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Candal;
  src: url("./assets/font/Candal/Candal-Regular.ttf");
}
@font-face {
  font-family: Outfit;
  src: url("./assets/font/Outfit/static/Outfit-ExtraLight.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Outfit;
  src: url("./assets/font/Outfit/static/Outfit-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Outfit;
  src: url("./assets/font/Outfit/static/Outfit-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Outfit;
  src: url("./assets/font/Outfit/static/Outfit-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Outfit;
  src: url("./assets/font/Outfit/static/Outfit-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Outfit;
  src: url("./assets/font/Outfit/static/Outfit-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Outfit;
  src: url("./assets/font/Outfit/static/Outfit-ExtraBold.ttf");
  font-weight: 700;
}

body{
  box-sizing: border-box;
  font-family: Outfit;
  font-weight: 400;
}

:root{
  --black: #151515;
  --white: #FFF;
  --blue: #50a0ff;
  --light-black: rgba(37,38,47,.8);
  --green: #4cce80;
  --orange:#c40;
}

.day{
  --white: #151515;
  --black: #FFF;
  --blue: #50a0ff;
  --light-black: rgba(206, 207, 211, 0.8);
  --green: #4cce80;
  --orange:#c40;
}